<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .navbar-custom {
        background-color: rgb(5, 40, 49); /* Dark teal */
        color: rgb(253, 247, 234); /* Light cream */
        font-family: 'Segoe UI', sans-serif;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: rgb(0, 198, 194); /* Turquoise */
    }
    </style>
</head>

<body>

<nav th:replace="~{fragments/navbar :: navbar(roles=${roles}, current=${current})}"></nav>
<div class="container">
    <h1>Dashboard</h1>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>