# DevOps engineers have ownership of the workflows directory
.github/workflows/ @Hibrar @declanrice22 @nikkitagora @V1Testtbc

# Java developers have ownership of everything else
* @alexjbrowntech @Charlie-Lambino-Worthington @nldblanch
