<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

<nav th:replace="~{fragments/navbar :: navbar(roles=${roles}, current=${current})}"></nav>
<div class="container">
    <p>All the submissions from a template</p>
    <section>
        <h2 th:text="'Submissions for ' + ${template.templateName}"></h2>
    </section>
    <ul>
       <li th:each="s : ${submissions}">
           <p th:text="${s.submitterName}"></p>
           <p>Submitted on a date</p>
           <a th:href="'/owner/checklists/' + ${template.templateId} + '/submissions/' + ${s.checklistId}">link to this submission</a>
       </li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>