<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Submission Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .navbar-custom {
        background-color: rgb(5, 40, 49); /* Dark teal */
        color: rgb(253, 247, 234); /* Light cream */
        font-family: 'Segoe UI', sans-serif;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: rgb(0, 198, 194); /* Turquoise */
    }
    </style>
</head>

<body>

<nav th:replace="~{fragments/navbar :: navbar(roles=${roles}, current=${current}, username=${username})}"></nav>

<div class="container mt-4">
    <div class="card shadow-sm p-4">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="mb-3 text-primary" th:text="${submission.checklistName}"></h1>
            </div>
            <div class="col-auto">
                <a th:href="'/owner/checklists/' + ${template.templateId} + '/submissions'"
                   class="btn btn-outline-primary">Back To Submissions</a>
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h3 class="mb-3 p-2 pb-4">Submission Fields</h3>
        <ul class="list-group">
            <li th:each="f : ${submission.fields}" class="list-group-item">
                <p class="fw-bold mb-1" th:text="${f.fieldName}"></p>
                <p class="text-muted mb-1" th:text="'Response: ' + ${f.response}"></p>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
